@import '../libs/colors.scss';
@import '../libs/measures.scss';

div#about {

    min-height: calc(100vh - 1277px);

    #home-about-tabs {

        margin-top: 20px;

        md-tab-content {

            md-content {

                margin-top: 33px;

                p {
                    margin-bottom: 33px;

                }

                img {

                    width: 86px;
                    height: 86px;

                    @media (min-width: $flex-md) {
                        width: 133px;
                        height: 133px;
                    }

                }

                .home-brands {

                    .home-brand {

                        img {
                            width: 100%;
                            height: auto;
                        }

                    }

                }

            }

        }

    }


}
