@import '../libs/colors.scss';
@import '../libs/measures.scss';
@import '../libs/breakpoints';
@import '../libs/effects';

div#home {

  height: 100%;

  #clouds-wrapper {
    height: 100%;
    position: relative;
  }

  #home-featured {

    .post {
      padding: 0;
      background: 50% 50% / cover no-repeat;
      width: 100%;
      height: calc(110vh);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.75em;

      @media (max-width: $flex-md){
        height: auto;
      }

      .clickable {

        display: flex;

        .icon {
          width: 10%;
          margin: 0 60px;
          img {
            width: 100%;
            height: auto;
          }
        }

        .title {
          h4 {
            font-size: 1.3em;
            margin: 17px 0;
          }
        }
      }
    }

    .stick {
      background-attachment: fixed;
    }


    #first-featured-item {
      background-image: url("../../images/home/horizon1.jpeg");
    }

    #second-featured-item {
      background-image: url("../../images/home/horizon2.jpeg");
    }


    #third-featured-item {
      background-image: url("../../images/home/horizon3.jpeg");
    }

    #fourth-featured-item {
      background-image: url("../../images/home/horizon4.jpeg");
    }

  }

  #home-parallax-hole {

  }

}
