@import '../libs/colors.scss';
@import '../libs/measures.scss';

div#home {

    #home-desktop.parallax{

        .parallax-wrapper {

            width:100%;

            .parallax-img {

                background: url(../images/parallax/bg-parallax-sm.jpg) no-repeat center bottom;
                background-size: cover;
                height: 300px;
                width: 100%;
                position: relative;

                @media (min-width: $flex-md ) {
                    background: url(../images/parallax/bg-parallax-sm.jpg) no-repeat center bottom;
                    background-size: 100%;
                    height: 400px;
                }

                @media (min-width: $flex-lg ) {
                    background: url(../images/parallax/bg-parallax.jpg) no-repeat center bottom;
                    background-size: cover;
                    height: 436px;
                }

            }

            .parallax-txt {

                position: absolute;
                bottom: 77px;
                right: 0;
                left: 0;
                margin: auto;
                text-align: center;
                font-size: 3.0em;
                color: $discret-black;
                cursor: default;


                @media ( min-width: $flex-sm ) {
                    font-size: 3.7em;
                    text-shadow: 0 0 16px #FFFFFF;
                }

                @media ( min-width: $flex-lg ) {
                    font-size: 4.7em;
                }

                @media ( min-width: $flex-lg + 500 ) {
                    font-size: 6.7em;
                }

                div{

                    margin: 0 7px;

                    .parallax-subtext1{

                        font-size:0.36em;

                        @media ( min-width: $flex-md ) {
                            font-size:0.37em;
                        }
                    }

                    .parallax-subtext2{

                        font-size:0.52em;

                        @media ( min-width: $flex-md ) {
                            font-size:0.37em;
                        }

                    }

                }


            }

        }

    }

    #home-featured{

        @media ( min-width : $flex-lg ){
            margin-top: 90px;
        }

        h4{
            margin: 0px;
        }


        #first-featured-item{

            @media ( max-width : $flex-md ) {

                font-size: 0.75em;

                h4 {
                    font-size: 1.3em;
                    margin-top: 17px;
                }

            }

            @media ( min-width : $flex-sm ) and ( max-width : $flex-md ) {

                font-size: 1.3em;

                h4 {
                    font-size: 1.6em;
                }

            }

        }


        #third-featured-item{

            @media ( min-width : $flex-sm ) and ( max-width : $flex-md ) {
                margin-top: 33px;
            }



            img.md-avatar{

                width:100%;
                height:auto;

                @media ( max-width : $flex-md ) {
                    margin: 0;
                    width: 60%;
                }


            }

            h4 {
                @media ( max-width : $flex-md ) {
                    margin-top : 15px;
                }
            }


        }

    }

}
