@import '../libs/colors.scss';
@import '../libs/measures.scss';

div#sophia {

    min-height: calc(100vh - 64px);

    .home-desktop.parallax{

        .parallax-wrapper {

            width:100%;

            .parallax-img {

                background: url(../images/parallax/bg-parallax-sophia.gif) no-repeat center bottom;
                background-size: cover;
                height: 300px;
                width: 100%;
                position: relative;

                @media (min-width: $flex-md ) {
                    background: url(../images/parallax/bg-parallax-sophia.gif) no-repeat center bottom;
                    background-size: 100%;
                    height: 400px;
                }

                @media (min-width: $flex-lg ) {
                    background: url(../images/parallax/bg-parallax-sophia.gif) no-repeat center bottom;
                    background-size: cover;
                    height: 436px;
                }

            }

        }

    }

}
