<section id="work"  >
    <main>
        <div layout="row" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex   >
                <img src="images/work/martha-gabriel.png" class="md-card-image" >
                <md-card-content>
                    <p>Martha Gabriel - Facebook Fan Page</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex >
                <img src="images/work/tupperware.png" class="md-card-image" >
                <md-card-content>
                    <p>Tupperware Brazil Facebook fan page</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex >
                <img src="images/work/criato.png" class="md-card-image" alt="Criato">
                <md-card-content>
                    <p>Wordpress blog for Criato </p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex  >
                <img src="images/work/modernet.png" class="md-card-image" alt="Modernet">
                <md-card-content>
                    <p>Personal blog: Modernet</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex ></div>

            <div layout-margin flex ></div>

        </div>
    </main>
</section>
