<md-toolbar id="header" layout="column">

    <div id="menu-row" layout="row">

        <button ng-click="toggleSidenav('leftMenu')" class="menuBtn right noselect" >
            <span class="visually-hidden noselect">Menu</span>
        </button>

        <div id="menu-splitter" ></div>

        <h1 class="md-toolbar-tools noselect" layout-align-gt-sm="left" >
            <a alt="Home" ng-click="blowOnClick();" ><img ng-class=" { 'spin-blow' : blow }" src="images/uis/logo.svg" /><span>Rômulo Bordezani</span></a>
        </h1>

        <div id="social-links" class="noselect" hide-sm >
            <div><a ng-href="https://www.facebook.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_facebook.svg"  /></a></div>
            <div><a href ng-href="https://soundcloud.com/romulo-bordezani" target="_BLANK" ><img src="images/socials/ico_soundcloud.svg" /></a></div>
            <div><a href ng-href="https://plus.google.com/104483918654914497308/posts" target="_BLANK" ><img src="images/socials/ico_google.svg"  /></a></div>
            <div class="linkedin" ><a href ng-href="https://br.linkedin.com/pub/rômulo-bordezani/21/a3a/55a" target="_BLANK" ><img src="images/socials/ico_linkedin.svg" /></a></div>
            <div><a href ng-href="https://twitter.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_twitter.svg"  /></a></div>
            <div><a href ng-href="https://github.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico-github.svg" /></a></div>
        </div>

    </div>

    <div id="timeline-row" ng-if="workSwitcherVisibility" class="work-switcher-animation" >

        <div layout style="margin: 0 15px 15px;" >
            <div flex="10" layout layout-align="center center">
                <span class="md-thumb-label" ng-bind="yearSlider" ></span>
            </div>
            <md-slider flex  class="md-primary md-hue-7" md-discrete ng-model="$parent.yearSlider" step="1" min="2008" max="2016" aria-label="rating" ></md-slider>
        </div>

    </div>

    <div id="background-row" class="md-whiteframe-z1" md-parallax parallax-init-val="0" parallax-ratio="2" parallax-css="opacity"  parallax-scroller="ngview-container" ></div>

</md-toolbar>

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu"   >
    <md-list layout="column" layout-align="space-around right"    >

        <md-item ng-repeat="item in leftMenuList"  >
            <md-button ng-click="menuClick(item, $event)" target="{{item.target}}" ng-class="{'selected' : item === selected }" ng-swipe-left="swipeLeftMenu()" >
                <div class="md-item-container"  >
                    <img ng-src="{{item.imgsrc}}" class="md-avatar" alt="{{item.alt}}" />
                    <div class="md-list-item-text">{{item.label}}</div>
                </div>
            </md-button>
        </md-item>

        <md-item hide-gt-sm >
            <div id="social-links-menu" class="noselect" >
                <div><a href ng-href="https://www.facebook.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_facebook.svg" /></a></div>
                <div><a href ng-href="https://soundcloud.com/romulo-bordezani" target="_BLANK" ><img src="images/socials/ico_soundcloud.svg" /></a></div>
                <div><a href ng-href="https://plus.google.com/104483918654914497308/posts" target="_BLANK" ><img src="images/socials/ico_google.svg" /></a></div>
                <div><a href ng-href="https://br.linkedin.com/pub/rômulo-bordezani/21/a3a/55a" target="_BLANK" ><img src="images/socials/ico_linkedin.svg" /></a></div>
                <div><a href ng-href="https://twitter.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_twitter.svg" /></a></div>
                <div><a href ng-href="https://github.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico-github.svg" /></a></div>
            </div>
        </md-item>

    </md-list>
</md-sidenav>
