@import 'libs/colors.scss';
@import 'libs/measures.scss';


.parallax-footer{

    height: 333px;
    width: 100%;
    position: relative;
    overflow: hidden;

    background: $white;
    background: -moz-linear-gradient(top,  $white 0%, #bdbdbd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$white), color-stop(100%,#bdbdbd));
    background: -webkit-linear-gradient(top,  $white 0%,#bdbdbd 100%);
    background: -o-linear-gradient(top,  $white 0%,#bdbdbd 100%);
    background: -ms-linear-gradient(top,  $white 0%,#bdbdbd 100%);
    background: linear-gradient(to bottom,  $white 0%,#bdbdbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='#bdbdbd',GradientType=0 );


    @media (min-width: $flex-sm) {
        height: 333px;
    }


    .parallax-txt {

        position: absolute;
        bottom: 47px;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        font-size: 2.0em;
        color: $white;
        text-shadow: 0px 0px 27px #666;
        cursor: default;

        @media (min-width: $flex-sm) {
            font-size: 3.7em;
            text-shadow: 0px 0px 27px #999;
            bottom: 116px;
        }

        @media (min-width: $flex-lg) {
            font-size: 4.7em;
        }

        @media (min-width: $flex-lg + 500) {
            font-size: 6.7em;
        }

        .parallax-reverse-text{
            -webkit-transform:rotateY(180deg);
            -moz-transform:rotateY(180deg);
            -o-transform:rotateY(180deg);
            -ms-transform:rotateY(180deg);
            transform:rotateY(180deg);

        }

    }

    .cloud-1{
        background: url(../images/parallax/cloud-1.png) no-repeat center bottom;
        background-size: contain;
        width: 604px;
        height: 333px;
        position: absolute;
        left:0px;
    }

    .cloud-2{
        background: url(../images/parallax/cloud-2.png) no-repeat center bottom;
        background-size: contain;
        width: 615px;
        height: 333px;
        position: absolute;
        right: 0px;
    }

    .cloud-3{
        background: url(../images/parallax/cloud-3.png) no-repeat center bottom;
        background-size: contain;
        width: 666px;
        height: 333px;
        position: absolute;
        left: 40%
    }




}


md-toolbar#footer{

    background: $black;
    color: $white;
    font-size: 11px;

    .footer-left{
        margin-left: 15px;

        @media(max-width:$flex-md){
            margin-left: 0px;
        }

    }


    .footer-right{

        img{
            width: 112px;
            height:auto;
            float:right;
            margin: 0 15px;

            &.angular-logo-sm{
                width: 36px;
            }

        }

    }

}



