@import 'libs/browsehappy';
@import 'libs/measures';
@import 'libs/colors';
@import 'libs/animations';


body {

    font-family: Comfortaa, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    overflow-y: hidden;
    background-color: $white;
    font-size: 100%;



    md-toolbar {

        min-width: 320px;

        &#header {

            color:$black;
            background-color: $white;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            z-index: 50;

            div#menu-row{

                #social-links{

                    width: 260px;
                    float: right;
                    margin: 0px;
                    position: absolute;
                    right: 26px;

                    div {

                        float: right;
                        width: 23px;
                        margin: 20px 7px 0;

                        &.linkedin{
                            margin: 18px 5px 0 7px;
                        }

                        a{

                            display:block;
                            width: 100%;

                            img{
                                width: 100%;
                                height: auto;
                            }

                        }

                    }

                }


                #menu-splitter{

                    display: block;
                    content:' ';
                    background: transparent url('../images/uis/gradient-line-vertical-darker.svg') repeat left center;
                    background-size: 1px 31px;
                    height: 31px;
                    width: 1px;
                    margin-top: 16px;
                    float: right;

                }

                button.menuBtn {

                    border: none;
                    outline: none;
                    width: 70px;
                    outline: none;
                    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyBpZD0iSGVhZGVyIj4gICAgPGc+ICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPiAgICA8L2c+PC9nPjxnIGlkPSJMYWJlbCI+PC9nPjxnIGlkPSJJY29uIj4gICAgPGc+ICAgICAgICA8cmVjdCBmaWxsPSJub25lIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz4gICAgICAgIDxwYXRoIGQ9Ik0zLDE4aDE4di0ySDNWMTh6IE0zLDEzaDE4di0ySDNWMTN6IE0zLDZ2MmgxOFY2SDN6IiBzdHlsZT0iZmlsbDojMzMzMzMzOyIvPiAgICA8L2c+PC9nPjxnIGlkPSJHcmlkIiBkaXNwbGF5PSJub25lIj4gICAgPGcgZGlzcGxheT0iaW5saW5lIj4gICAgPC9nPjwvZz48L3N2Zz4=) no-repeat center center;

                }

                h1.md-toolbar-tools {

                    letter-spacing: 2px!important;
                    max-width: 400px;

                    a {

                        outline: none;
                        color: $black;

                        &:link, &:visited, &:hover{
                            color: $black;
                        }

                        img {

                            width: 30px;
                            height: auto;
                            margin: 3px 7px 0px 0px;
                            float: left;

                            @media ( min-width : $flex-md ){

                                margin: 3px 7px 0 0;
                                width: 43px;

                            }
                        }

                        span {

                            float: left;
                            margin: 6px 9px 0 0;
                            font-size: 17px;

                            @media ( min-width : 360px ){

                                margin: 3px 0 0 8px;
                                font-size: 21px;

                            }

                            @media ( min-width : $flex-md ){

                                margin: 7px 7px 0 0;
                                font-size: 23px;

                            }

                        }

                    }

                }

            }

            div#timeline-row{

                div {

                    md-slider {

                        .md-slider-wrapper{

                            .md-thumb-container{

                                .md-thumb{

                                    &::after {
                                        background-color: $black;
                                        border-color: $black;
                                    }

                                    .md-focus-thumb{
                                        color: $black;
                                    }

                                }

                                .md-sign{

                                    &::after {
                                        border-top-color: $black;
                                    }

                                    background-color: $black;

                                    .md-thumb-text{
                                        font-size: 9px;
                                        color:$white;
                                    }

                                }

                            }

                        }

                    }

                    .md-thumb-label {

                        font-size: 16px;
                        min-width: 56px;
                        padding: 0 7px;

                        @media (min-width: $flex-md){
                            font-size: 19px;
                        }

                        @media (min-width: $flex-lg){
                            font-size: 21px;
                        }

                    }


                }

            }

            div#background-row{
                display:none;
            }

        }

    }

    &.home {

        md-toolbar {

            &#header {

                background-color: transparent;
                position: fixed !important;
                box-shadow: none;

                -webkit-transition: all .7s;
                -moz-transition: all .7s;
                -ms-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;

                -webkit-transition-delay: .7s;
                -moz-transition-delay: .7s;
                -ms-transition-delay: .7s;
                -o-transition-delay: .7s;
                transition-delay: .7s;

                div#menu-row {

                    position: absolute;
                    z-index: 200;
                    width: 100%;
                    right: 0;

                }

                div#background-row {
                    background: $white none repeat scroll 0 0;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: 0;
                    display: block;
                }

            }

        }

    }




    md-sidenav{

        md-list {

            padding: 0px;
            height: 100%;
            width: 100%;
            position: absolute;

            @media (max-height: 500px) {
                height: 500px;
            }

            md-item {

                height: 16%;
                border-top: 1px solid rgba(0, 0, 0, 0.12);

                .md-button {

                    color: inherit;
                    font-weight: 500;
                    text-align: left;
                    width: 100%;
                    border-radius: 0px;
                    margin: 0px;
                    height: 100%;
                    padding-left: 15px;

                    &.md-focused.md-default-theme:not([disabled]) {
                        background-color: transparent;
                    }

                    .md-item-container {

                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        .md-list-item-text {
                            float: left;
                            margin: 10px 0 0 0;
                        }

                    }

                }

                .md-button.selected {
                    background-color: rgba(158, 158, 158, 0.33);
                }

                #social-links-menu{

                    width: 250px;
                    float: right;
                    margin-right: 5px;

                    div {

                        float: right;
                        width: 23px;
                        margin: 20px 10px 0;

                        a{

                            display:block;
                            width: 100%;

                            img{
                                width: 100%;
                                height: auto;
                            }

                        }


                    }

                }

            }

        }

    }


    div#ngview {

        @import 'views/home';
        @import 'views/work';

    }

    @import 'assets/footer';


}

@import 'libs/materialExtensions';
@import 'directives/clickable.directive';
@import 'directives/device-frame.directive';

