@import 'libs/browsehappy';
@import 'libs/measures';
@import 'libs/colors';
@import 'libs/animations';

body {
    font-family: Comfortaa, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.3px;
    overflow-y: hidden;
    background-color: $white;
    font-size: 100%;
    line-height: 1.5;

    @import 'assets/menu-top.scss';

    md-content#ngview-container {
      overflow-x: hidden;

        div#ngview {

            height: 100%;

            @import 'views/home';
            @import 'views/work';
            @import 'views/contact';
            @import 'views/about';
            @import 'views/sophia';

        }

        @import 'assets/footer';

    }

}

@import 'libs/materialExtensions';
@import 'libs/content_pusher';
@import 'directives/clickable.directive';
@import 'directives/device-frame.directive';
@import 'directives/timeline-tip.directive';
@import 'directives/parallax-clouds.directive';
