<section id="work"  >
    <main class="work-description" >
        <div layout-margin layout-padding >

            <div layout="row" layout-wrap >

                <div layout="column" flex flex-sm="100" >

                    <h1 class="md-title" >Lofty's e-Shop migration from Magento to Shopify</h1>

                    <p>
                        The first version of Lofty's site was made using Magento, my main role on this job was to migrate the whole e-shop to Shopify, what required a reconstruction of almost eery HTML and CSS from the scratch, using <a href="https://help.shopify.com/themes/liquid/basics" target="_blank">.liquid</a> and based on Shopify's
                        <a href="https://shopify.github.io/Timber/" target="_blank">Timber</a> boilerplate.
                    </p>

                    <h1 class="md-title">Main challenges:</h1>

                    <ul>
                        <li>To migrate all CDN data from Magento to Shopify, including +10Mb pictures, what required a hard work converting and compressing images in order to upload them using Ruby, via Shopify API.</li>
                        <li>To convert all products and users stored in the Magento's MySQL database, into Shopify records using theirs Ruby API.</li>
                        <li>To fight with Form Assembly pre built forms to improve validations, styles and so on conflicting with Timber style.</li>
                        <li>To reproduce all old design details on a boilerplate already formatted and coded, inheriting a lot of conflicts and incompatibilities between them.</li>
                        <li>To deal with third party apps and partners, implementing theirs snippets on our site without to wreck all the rest of the code.</li>
                        <li>To keep the loading time under 10 seconds, even using at least 7 third party services and make the site resilient to possible slow responses or down services.</li>
                        <li>To track important user's events on different platforms, like Facebook Pixel, Sales Force Marketing Cloud and Google Analytics at the same time. </li>
                        <li>To fight with Form Assembly pre built forms to improve validations, styles and so on.</li>
                        <li>To make it responsive.</li>
                    </ul>

                </div>

                <div layout="column" flex="33" flex-sm="100" >
                    <responsibilities frontend="true" backend="true"   custom="true" custom-label="'Cross Browsing'" custom-img="'images/uis/ic_test_24px.svg'" custom1="true" custom-label1="'Database Migration'" custom-img1="'images/uis/ic_db_24px.svg'" ></responsibilities>
                </div>

            </div>

            <div class="work-spacer" ></div>
            <div layout="row" layout-wrap layout-fill layout-align="center end" >
                <device-frame  size="lg"    src="images/work/2016/1/lg-thumb.png" ></device-frame>
                <device-frame  size="gt-lg" src="images/work/2016/1/gt-lg-thumb.png" ></device-frame>
                <device-frame  size="md"    src="images/work/2016/1/md-thumb.png" ></device-frame>
                <device-frame  size="sm"    src="images/work/2016/1/sm-thumb.png" ></device-frame>
            </div>

        </div>

        <div id="actions" >

            <md-button id="goto-job" class="md-fab md-accent md-hue-2" aria-label="Go to Sophia's Pics" clickable-url="https://lofty.com/" clickable clickable-target="_blank" >
                <md-icon md-svg-src="images/uis/ic_goto_24px.svg"></md-icon>
            </md-button>

            <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" clickable >
                <md-icon md-svg-src="images/uis/backTolist-centered.svg"></md-icon>
            </md-button>

        </div>

    </main>
</section>
