<section id="work"  >
    <main>
        <div layout="row"   layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card  ng-click="setCurrent(1)" class="no-select" flex slide-on-swipe only-left="true" clickable >
                <img src="images/work/2016/index/lofty.png" class="md-card-image" >
                <md-card-content>
                    <p> Complete e-Shop migration From Magento to Shopify.</p>
                </md-card-content>
            </md-card>

            <md-card   class="no-select no-pointer" flex slide-on-swipe only-left="true"  >
                <img src="images/work/2016/index/lofty1.png" class="md-card-image" >
                <md-card-content>
                    <p> Shopify App to mock requests during development.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex slide-on-swipe only-left="true"  >
                <img src="images/work/2016/index/lofty2.png" class="md-card-image" >
                <md-card-content>
                    <p> Chrome Extension to block changes while syncing Shopify &#x3C;&#x3E; Sales Force data.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex slide-on-swipe only-left="true"  >
                <img src="images/work/2016/index/lofty3.png" class="md-card-image" >
                <md-card-content>
                    <p> Maintenance and evolution of Lofty's OAuth Shopify App.</p>
                </md-card-content>
            </md-card>

            <md-card   class="no-select no-pointer" flex slide-on-swipe only-left="true" >
                <img src="images/work/2016/index/lofty4.png" class="md-card-image" >
                <md-card-content>
                    <p> Angular on a Shopify Theme architecture to Lofty's My Account App.</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex ></div>

        </div>
    </main>
</section>
