<section id="work"  >
  <main>
    <div layout="row" layout-wrap layout-align-sm="center space-around" >

      <md-card ng-click="setCurrent(3)" class="no-select" flex  clickable >
        <img src="https://fakeimg.pl/423x227/?retina=1&text=ハンブルガー&font=noto" class="md-card-image" >
        <md-card-content>
          <p> Barca Burguer site</p>
        </md-card-content>
      </md-card>

      <md-card ng-click="setCurrent(1)" class="no-select" flex  clickable >
        <img src="https://fakeimg.pl/423x227/?retina=1&text=消防基地&font=noto" class="md-card-image" >
        <md-card-content>
          <p> Barca Burguer - Firebase DB Integration to manage the menu.</p>
        </md-card-content>
      </md-card>

      <md-card class="no-select" ng-click="setCurrent(2)" class="no-select" flex  clickable  >
        <img src="https://fakeimg.pl/423x227/?retina=1&text=画像&font=noto" class="md-card-image" >
        <md-card-content>
          <p> OHIF - New Bitmap Tools.</p>
        </md-card-content>
      </md-card>

      <md-card  class="no-select no-pointer" flex  >
        <img src="https://fakeimg.pl/423x227/?retina=1&text=ラジカル&font=noto" class="md-card-image" >
        <md-card-content>
          <p> Radical Imaging</p>
        </md-card-content>
      </md-card >

      <md-card class="no-select" flex  clickable clickable-target="_blank" clickable-url="https://github.com/romulobordezani/formoose">
        <img src="https://raw.githubusercontent.com/romulobordezani/formoose/master/src/assets/Formoose-logo.png" class="md-card-image" >
        <md-card-content>
          <p> Formoose - Schema based run time validation engine.</p>
        </md-card-content>
      </md-card>

      <div layout-margin flex hide-xs></div>

    </div>
  </main>
</section>

<timeline-tip />


