<md-card>
    <md-card-content>

        <h4 class="md-headline">Story responsibilities:</h4>
        <md-list>

            <md-list-item >
                <md-icon md-svg-src="images/uis/ic_code_24px.svg"></md-icon>
                <p>Frontend</p>
                <md-checkbox class="md-secondary" ng-model="responsible" disabled  ></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item >
                <md-icon md-svg-src="images/uis/ic_cloud_24px.svg"></md-icon>
                <p>Backend</p>
                <md-checkbox class="md-secondary" ng-model="noResponsible" disabled  ></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item >
                <md-icon md-svg-src="images/uis/ic_db_24px.svg"></md-icon>
                <p>Data Base</p>
                <md-checkbox class="md-secondary" ng-model="noResponsible" disabled ></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item >
                <md-icon md-svg-src="images/uis/ic_ux_24px.svg"></md-icon>
                <p>UX</p>
                <md-checkbox class="md-secondary" ng-model="noResponsible" disabled ></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item >
                <md-icon md-svg-src="images/uis/ic_eye_24px.svg"></md-icon>
                <p>Design</p>
                <md-checkbox class="md-secondary" ng-model="noResponsible" disabled ></md-checkbox>
            </md-list-item>

        </md-list>
    </md-card-content>
</md-card>
