
$use-pulse : true;
$use-tada : true;
@import "../../../bower_components/animate-sass/_animate";

.clickable {

  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &:hover{
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -ms-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.66s;
    -moz-animation-duration: 0.66s;
    -ms-animation-duration: 0.66s;
    -o-animation-duration: 0.66s;
    animation-duration: 0.66s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &.clicked{
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -ms-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 0.66s;
    -moz-animation-duration: 0.66s;
    -ms-animation-duration: 0.66s;
    -o-animation-duration: 0.66s;
    animation-duration: 0.66s;
  }

}
