@import '../libs/colors.scss';
@import '../libs/measures.scss';

.device-frame{

    height: 300px;
    min-width: 290px;

    @media ( min-width : $flex-sm ){
        margin: 0 13px;
        min-width: 0;
    }


    a{
        position: relative;
        display: block;

        &:before{

            content : ' ';
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 3;
            background-image: url('../images/uis/ic_launch_24px.svg');
            background-size: 46px 46px;
            background-repeat : no-repeat;
            background-position: center;
            background-color: #333333;
            display: none;
            height: 121px;
            width: 200px;
            opacity: 1;

        }

        &:hover{

            &:before{
                display: block;
                opacity: 0.7;
            }

        }

        &:active{

            &:before{
                display: none;
            }

        }

        img {
            position: absolute;
        }

    }


    .df-sm{

        background: transparent url('../images/uis/device-sm.svg') no-repeat top center ;
        background-size: contain;
        width: 69px;
        height: 129px;


        a.df-sm-screen{

            width: 60px;
            height: 107px;
            margin: 7px auto 0;

            img{
                position: absolute;
                max-width: 60px;
                height: 107px;
                clip: rect(0px, 60px, 107px, 0px);
            }

            &:before{
                width: 60px;
                height: 107px;
            }

        }

    }

    .df-md{

        background: transparent url('../images/uis/device-md.svg') no-repeat top center ;
        background-size: contain;
        width: 138px;
        height: 171px;

        a.df-md-screen{

            width: 120px;
            height: 150px;
            margin: 10px auto 0;

            img{
                position: absolute;
                width: 120px;
                height: auto;
                clip: rect(0px, 120px, 150px, 0px);
            }


            &:before{
                width: 120px;
                height: 150px;
            }

        }

    }

    .df-lg{

        background: transparent url('../images/uis/device-lg.svg') no-repeat top center ;
        background-size: contain;
        width: 274px;
        height: 160px;


        a.df-lg-screen{

            width: 200px;
            height: 121px;
            margin: 15px auto 0;

            img{
                position: absolute;
                max-width: 200px;
                height: auto;
                clip: rect(0px, 200px, 120px, 0px);
            }

        }

    }


    .df-gt-lg{

        background: transparent url('../images/uis/device-gt-lg.svg') no-repeat top center ;
        background-size: contain;
        width: 295px;
        height: 239px;

        a.df-gt-lg-screen{

            width: 280px;
            height: 180px;
            margin: 15px auto 0;

            img{
                position: absolute;
                width: 280px;
                height: auto;
                clip: rect(0px, 280px, 180px, 0px);
            }


            &:before{
                width: 280px;
                height: 180px;
            }

        }

    }



}
