@import '../libs/colors.scss';
@import '../libs/measures.scss';
@import '../libs/breakpoints';


@keyframes scroll_down_icon_anim {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 0
  }
}

.md-parallax {
  height: 100%;

  .parallax-clouds {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: transparent url("../../images/parallax/sky-bg-min.jpg") no-repeat;
    background-size: cover;

    .scroll-down-icon {
      position: absolute;
      bottom: 400px;
      right: 400px;
      width: 160px;

      animation-name: scroll_down_icon_anim;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-iteration-count: 6;
      opacity: 0;

      img {
        width: 100%;
        margin: auto;
      }
    }

    .image-overlay {
      transition: all 1s ease-out;
      background: transparent url("../../images/parallax/bg-parallax-full-hd-min.png") no-repeat;
      background-size: 100%;
      background-position: center bottom;
      background-attachment: scroll;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    div[class^="cloud"] {
      $width: 670px;
      height: 100%;
      width: $width;
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: auto;
      position: absolute;
      animation-duration: 250s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      transform: translate3d(0,0,0);
      transition: background-position 0.6s ease-out;
    }

    .cloud-1 {
      background-image: url(../../images/parallax/cloud-1-min.png);
      top: 0;
      animation-name: cloud_1;
    }

    .cloud-2 {
      background-image: url(../../images/parallax/cloud-2-min.png);
      top: 10px;
      animation-name: cloud_2;
    }

    .cloud-3 {
      background-image: url(../../images/parallax/cloud-3-min.png);
      top: 20px;
      animation-name: cloud_3;
    }

    .cloud-4 {
      background-image: url(../../images/parallax/cloud-4-min.png);
      top: 30px;
      animation-name: cloud_4;
    }

    .sun {
      position: absolute;
      transition: all 1s linear;
      z-index: 0;
      background: white;
      border-radius: 50%;
      width: 150px!important;
      height: 150px!important;
      left: unset!important;
      top: 100px;
      right: 200px;

      box-shadow:
        inset 0 0 50px #ffffff,
        0 0 50px #fff,
        -10px 0 80px #ff5100,
        10px 0 80px #ffdd00;
    }
  }
}




