.timeline-tip {

  position: fixed;
  right: 0;
  top: 100px;
  background: transparent url("../../images/work/speech_balloon.svg") no-repeat;
  background-size: contain;
  width: 300px;
  height: 250px;
  z-index: 2000;

  &--get-in {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -ms-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }

  &--get-out {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
    -ms-animation-name: bounceOut;
    -o-animation-name: bounceOut;
    animation-name: bounceOut;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }


  &__content{
    margin: 95px auto;
    width: 80%;
    text-align: center;
    user-select: none;
    font-size: 0.9em;
  }

}
