<md-content id="work"  >
    <main    >

        <div layout="row" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(6)" class="no-select" flex ng-if="current==6 || current == false" >

                <img src="images/work/own-portfolio-creative.png" class="md-card-image " >

                <md-toolbar >
                    <div class="md-toolbar-tools">
                        <h2><span>UX and</span></h2>
                    </div>
                </md-toolbar>

                <md-card-content>
                    <p> UX and layout design of this site.</p>
                    <p ng-if="current==6" >
                        I learned Angular Material and built it up in four days and three nights in a row, thanks Angular Material team, its works like a charm.
                    </p>
                </md-card-content>

                <div class="md-actions" layout="row" layout-align="end end" >
                    <md-button class="md-fab md-mini md-primary" >
                        <md-icon md-svg-icon="images/homeLogo.svg"  ></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" >
                        <md-icon md-svg-icon="images/homeLogo.svg"  ></md-icon>
                    </md-button>
                </div>

            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(3)" class="no-select" flex ng-if="current==3 || current == false" >

                <img src="images/work/own-portfolio.png" class="md-card-image "  >

                <md-toolbar ng-if="current==3" >
                    <div class="md-toolbar-tools">

                        <h2><span>This site.</span></h2>
                        <span flex></span>

                    </div>
                </md-toolbar>


                <md-card-content>

                    <p>
                        Development part of this site.
                    </p>

                    <p ng-if="current==3" >

                        I learned Angular Material and built it up in four days and three nights in a row, thanks Angular Material team, its works like a charm.

                    </p>

                </md-card-content>

            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-if="current==1 || current == false"  >

                <img src="images/work/sacbol.png" class="md-card-image" >

                <md-toolbar ng-if="current==1"  >
                    <div class="md-toolbar-tools">

                        <h2><span>SAC BOL 2.0</span></h2>

                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="Back to the List" ng-click="$parent.$parent.setCurrent(false)"  >
                            <md-icon md-svg-icon="images/backTolist-centered.svg"  ></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>

                <md-card-content>

                    <p>
                        UOL SAC's skin engine in action.
                    </p>

                </md-card-content>

            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-if="current==2 || current == false"  >

                <img src="images/work/sac.png" class="md-card-image" >

                <md-toolbar ng-if="current==2"  >
                    <div class="md-toolbar-tools">

                        <h2><span>SAC UOL 2.0</span></h2>

                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="Back to the List" ng-click="$parent.$parent.setCurrent(false)"  >
                            <md-icon md-svg-icon="images/backTolist-centered.svg"  ></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>


                <md-card-content>

                    <p>
                        The responsive version launch.
                    </p>

                    <p ng-if="current==2" >

                    </p>

                </md-card-content>

                <!--div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-if="current==false" ng-href="https://sac.uol.com.br/" target="_blank" >Go to</md-button>
                </div-->

            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-if="current==4 || current == false"  >

                <img ng-if="!current==4 || current == false" src="images/work/pipeline.png" class="md-card-image" >

                <md-toolbar ng-if="current==4"  >
                    <div class="md-toolbar-tools">

                        <h2><span>Pipe Line Docker</span></h2>

                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="Back to the List" ng-click="$parent.$parent.setCurrent(false)"  >
                            <md-icon md-svg-icon="images/backTolist-centered.svg" ></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>


                <md-card-content>

                    <p>
                        HTML 5 presentation for pipelines.<br><br>
                    </p>

                    <p ng-if="current==4" >

                    </p>

                </md-card-content>

                <!--div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-if="current==false" ng-href="https://github.com/romulobordezani/PipelineDoc" target="_blank" >See on Git Hub</md-button>
                </div-->

            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-if="current==5 || current == false"  >

                <img ng-if="!current==5 || current == false" src="images/work/laad.png" class="md-card-image" >

                <md-toolbar ng-if="current==5"  >
                    <div class="md-toolbar-tools">

                        <h2><span>LAAD - Bootstrap Shopping Cart</span></h2>

                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="Back to the List" ng-click="$parent.$parent.setCurrent(false)"  >
                            <md-icon md-svg-icon="images/backTolist-centered.svg" ></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>


                <md-card-content>

                    <p>
                        LAAD - Bootstrap Shopping Cart
                    </p>

                    <p ng-if="current==5" >

                    </p>

                </md-card-content>

                <div class="md-actions" layout="row" layout-align="end center">
                </div>

            </md-card>

        </div>

        <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" >
            <img src="images/backTolist.svg"  />
        </md-button>

    </main>

</md-content>
