<section id="work"  >
    <main>
        <div layout="row" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex slide-on-swipe  >
                <img src="images/work/saca.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL - Call Center: user history interface</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex slide-on-swipe  >
                <img src="images/work/saca2.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL Call Center: payback approval interface</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" class="no-select no-pointer" flex slide-on-swipe   >
                <img src="images/work/sophie.png" class="md-card-image" >
                <md-card-content>
                    <p>Daughter's photo Album</p>
                </md-card-content>
            </md-card>

        </div>
    </main>
</section>
