<section id="work"  >
    <main class="work-description" >
        <div layout-margin layout-padding >

            <div layout="row" layout-wrap >

                <div layout="column" flex flex-xs="100" >

                    <h1 class="md-title" >UOL SAC: frontend architecture</h1>

                    <p>New sac.uol.com.br, a responsive RESTful application using Angular, Bootstrap and ( Node.js + JAVA ).</p>
                    <p>Took me half year setting up the frontend infrastructure, learning new technologies and bringing them to a big tech company, where Development Operations are distributed in different teams.</p>
                    <p>With Internet Explorer 9 plain support, and keeping the old application blended, our team found a lot of challenges in this project. </p>

                    <div class="work-spacer" ></div>
                    <h1 class="md-title">Results:</h1>
                    <p>
                        <ul>
                            <li>High level code quality inspection using jsHint, that blocks deliveries with dirty code.</li>
                            <li>Continuous integration using Jenkins and under ITIL requirements.</li>
                            <li>Solid unit tests environment using Karma and Jasmine, that blocks deliveries with coverage under 80%.</li>
                            <li>Integrated with UOL's Custom Bootstrap.</li>
                            <li>New Angulartics metrics providers, customized to Adobe's Omniture UOL version.</li>
                            <li>Integrated validations in a single .js file, loaded in backend with Rhino and also consumed with Angular at the frontend.</li>
                            <li>Dependency distribution using Bower and npm.</li>
                            <li>Packages delivered using Apache Maven.</li>
                            <li>Automated static files distribution( CDN ) renaming files using MD5 to avoid cache on demand.</li>
                            <li>Support different appearances of the same application for different products, using Mustache. </li>
                            <li>Provides menu, banners and Frequent Answers and Questions customizations via Content Management System. </li>
                            <li>Go further then emulators and Virtual Machines, setting up an authenticated WIFI connection, redirected to Quality Assurance's Hosts, to test real devices.</li>
                        </ul>
                    </p>

                    <div class="work-spacer" ></div>


                </div>

                <div layout="column" flex="33" flex-xs="100" >
                    <responsibilities frontend="true" backend="true" database="false" ux="false" design="false" tests="true"  ></responsibilities>
                </div>

            </div>

            <div class="work-spacer" ></div>
            <div layout="row" layout-wrap layout-fill layout-align="center end" >
                <device-frame  size="lg"    src="images/work/2015/4/lg-thumb.png" ></device-frame>
                <device-frame  size="gt-lg" src="images/work/2015/4/gt-lg-thumb.png" ></device-frame>
                <device-frame  size="md"    src="images/work/2015/4/md-thumb.png" ></device-frame>
                <device-frame  size="sm"    src="images/work/2015/4/sm-thumb.png" ></device-frame>
            </div>


        </div>

        <div id="actions" >

            <md-button id="goto-job" class="md-fab md-accent md-hue-2" aria-label="Go to Sophia's Pics" clickable-url="https://sac.uol.com.br/" clickable  >
                <md-icon md-svg-src="images/uis/ic_goto_24px.svg"></md-icon>
            </md-button>

            <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" clickable >
                <md-icon md-svg-src="images/uis/backTolist-centered.svg"></md-icon>
            </md-button>

        </div>

    </main>
</section>
