<section id="work"  >
    <main>
        <div layout="row" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex  ng-click="setCurrent(1)" >
                <img src="images/work/sac-architecture.png" class="md-card-image" >
                <md-card-content>
                    <p>SAC UOL: frontend architecture</p>
                </md-card-content>
            </md-card>


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-click="setCurrent(2)" >
                <img src="images/work/lcb.png" class="md-card-image" >
                <md-card-content>
                    <p>Evonik Symposium Presentation</p>
                </md-card-content>
            </md-card>


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-click="setCurrent(3)" >
                <img src="images/work/executioner.png" class="md-card-image" alt="Executioner">
                <md-card-content>
                    <p>Executioner</p>
                </md-card-content>
            </md-card>


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-click="setCurrent(4)" >
                <img src="images/work/linklist.png" class="md-card-image" >
                <md-card-content>
                    <p>Link List</p>
                </md-card-content>
            </md-card>


            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-click="setCurrent(5)" >
                <img src="images/work/appendit.png" class="md-card-image" >
                <md-card-content>
                    <p>Appendit</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select" flex ng-click="setCurrent(6)" >
                <img src="images/work/2015/index/laad.png" class="md-card-image" >
                <md-card-content>
                    <p>LAAD - Bootstrap Shopping Cart</p>
                </md-card-content>
            </md-card>


        </div>
    </main>
</section>
