<section id="work"  >
    <main>
        <div layout="row" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(1)" class="no-select" flex  >
                <img src="images/work/clubeuol.png" class="md-card-image" >
                <md-card-content>
                    <p>Clube UOL - GIS integration </p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(2)" class="no-select" flex >
                <img src="images/work/firefox-extension.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL: signup auto-fill extension evolution</p>
                </md-card-content>
            </md-card>

        </div>
    </main>
</section>
