<section id="work"  >
    <main>
        <div layout="row" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select no-pointer" flex >
                <img src="images/work/medial.png" class="md-card-image" >
                <md-card-content>
                    <p>Medial - e-Business analyst </p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" class="no-select no-pointer" flex >
                <img src="images/work/priefert.png" class="md-card-image" >
                <md-card-content>
                    <p>Priefert Brasil site</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex ></div>

        </div>
    </main>
</section>
