<section id="work"  >
    <main>
        <div layout="row" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" layout-wrap layout-align-sm="center space-around" >

            <md-card class="no-select no-pointer" flex >
                <img src="images/work/medial.png" class="md-card-image" >
                <md-card-content>
                    <p>Medial - e-Business analyst </p>
                </md-card-content>
            </md-card>

            <md-card class="no-select no-pointer" flex >
                <img src="images/work/priefert.png" class="md-card-image" >
                <md-card-content>
                    <p>Priefert Brasil site</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex hide-xs></div>

        </div>
    </main>
</section>
