<section id="work">
  <main class="work-description">
    <div layout-margin layout-padding>
      <div layout="row" layout-wrap>
        <div layout="column" flex flex-sm="100" flex-xs="100">
          <h1 class="md-title">Auction Mobility Migration</h1>
          <img src="images/work/2017/index/squaretradego.png" class="md-card-image">
          <p>
            Square Trade Go, GIS - Zone Polygon Editor made with Google Maps and Angular.
          </p>
          <h5 class="md-title">Main challenges:</h5>
          <ul>
            <li>UX / UI improvements made by me, using Sketch and Invision.</li>
            <li>Tool to add custom Polygon's editors inside of a Google map.</li>
            <li>Hovering zones polygons inside of the map and show up information outside of it.</li>
            <li>Coloring the zones using an Angular Color Picker inside Google Maps.</li>
            <li>Prevent errors and show them inside of the map, according to actions.</li>
            <li>Make the Google Map, also the entire page tool, responsive but limiting features which requires a mouse on mobile.</li>
            <li>Join shapes with Zip Codes and extend them automatically based on zip Codes polygons</li>
          </ul>
        </div>
        <div layout="column" flex="33" flex-sm="100" flex-xs="100">
          <responsibilities
            frontend="true"
            custom="true"
            custom-label="'Cross Browsing tests'"
            custom-img="'images/uis/ic_test_24px.svg'"
            custom1="true"
            custom-label1="'UX UI'"
            custom-img1="'images/uis/ic_ux_24px.svg'"
          />
        </div>
      </div>
      <div class="work-spacer"></div>
    </div>
    <div id="actions">
      <md-button
        id="goto-job"
        class="md-fab md-accent md-hue-2"
        aria-label="Go to Sophia's Pics"
        clickable-url="https://lofty.com"
        clickable clickable-target="_blank"
      >
        <md-icon md-svg-src="images/uis/ic_goto_24px.svg"></md-icon>
      </md-button>
      <md-button
        id="close-job"
        ng-if="current"
        class="md-fab md-warn"
        aria-label="Job List"
        ng-click="setCurrent(false)"
        clickable
      >
        <md-icon md-svg-src="images/uis/backTolist-centered.svg"></md-icon>
      </md-button>
    </div>
  </main>
</section>
