<section id="work"  >
    <main>
        <div layout="row"  layout-wrap layout-align-sm="center space-around" >

            <md-card class="no-select no-pointer" flex  >
                <img src="images/work/2017/index/am.jpg" class="md-card-image" >
                <md-card-content>
                    <p> After 2 years improving Lofty.com systems, Auction Mobility bought the start-up and we rebuilt 70% of its code to deal with <strong>auctions</strong> instead market places.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2017/index/uol.jpg" class="md-card-image" >
                <md-card-content>
                    <p> UOL - New Checkout Project, made with multiple steps, dynamic sales profiles and A&B testing powered.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2017/index/squaretradego.png" class="md-card-image" >
                <md-card-content>
                    <p> Square Trade Go, GIS - Zone Polygon Editor made with Google Maps and Angular.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2017/index/squaretradego_appointments.png" class="md-card-image" >
                <md-card-content>
                    <p> Square Trade Go, appointments listing Page.</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex hide-xs></div>

        </div>
    </main>
</section>
