<div id="about">

  <div id="home-about-tabs" layout="column" layout-wrap>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-no-ink md-border-bottom md-selected="selectedIndex">

        <md-tab label="About">
          <md-content class="md-padding">

            <img src="images/about/avatar.jpg" class="round-crop" alt="Rômulo Bordezani"/>

            <p> I have been worked to make Web more than <strong>Search</strong>, <strong>Social</strong> and <strong>Porn</strong>,
              helping out companies to make theirs ideas and products accessible since 2001.</p>

            <p> Sophia's dad, Aline's husband and mama's beloved one, I'm always busy trying to make them laugh. </p>

            <p> Sometimes developing at the front-end, sometimes at the back, other times creating layouts or taking
              care of user experience experiments, I like to be useful. </p>

            <p> Doesn't matter what, always trying to keep myself more fool than full and trying to do my best. </p>

            <p> Discover more about me using those tabs above. </p>

          </md-content>
        </md-tab>

        <md-tab label="Dev">
          <md-content class="md-padding">

            <img src="images/about/coding-img-tab.svg" class="round-crop" alt="Development"/>

            <p>I'm experienced with back and front-end development, but I have more background with front-end and interfaces.</p>

            <p>
              Most relevant jobs at my <a href ng-href="https://br.linkedin.com/pub/rômulo-bordezani/21/a3a/55a"
                                          target="_BLANK">LinkedIn profile</a> and detailed projects info available at:
              <a href="#!/work">Experience timeline</a>
            <p>


            <p>Main frameworks and languages:</p>
            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span
                class="md-body-1">JS / ES / TS</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="js" ng-init="js=10" max="10"
                         aria-label="JS / ES / TS"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">React</span></div>
              <md-slider
                flex class="md-warn"
                ng-disabled="true"
                md-discrete
                ng-model="react"
                ng-init="react=9"
                max="10"
                aria-label="react"
              ></md-slider>
            </div>

            <div layout>
              <div
                flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Angular</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="angular" ng-init="angular=9"
                         max="10" aria-label="angular"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">jQuery</span>
              </div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="jQuery" ng-init="jQuery=9"
                         max="10" aria-label="jQuery"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span
                class="md-body-1">Jasmine / Jest</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Jasmine" ng-init="Jasmine=9"
                         max="10" aria-label="Jasmine"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Node.js</span>
              </div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="node" ng-init="node=9" max="10"
                         aria-label="Node"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span
                class="md-body-1">XDK / Cordova</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="xdk" ng-init="xdk=9" max="10"
                         aria-label="XDK / Cordova"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Python</span>
              </div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="python" ng-init="python=5"
                         max="10"
                         aria-label="Ruby"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Shopify</span>
              </div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="js" ng-init="shopify=9" max="10"
                         aria-label="Java Script"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Ruby</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="ruby" ng-init="ruby=7" max="10"
                         aria-label="Ruby"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">PHP</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="php" ng-init="php=7" max="10"
                         aria-label="PHP"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">JAVA</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="java" ng-init="java=6" max="10"
                         aria-label="PHP"></md-slider>
            </div>


            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">NoSQL</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="mongo" ng-init="mongo=8" max="10"
                         aria-label="Mongo"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">SQL</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="SQL" ng-init="SQL=8" max="10"
                         aria-label="SQL"></md-slider>
            </div>

            <div layout>
              <div flex="10" flex-xs="30" layout layout-align="center center"><span
                class="md-body-1">Apache / Nginx</span></div>
              <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Nginx" ng-init="Nginx=6" max="10"
                         aria-label="Nginx"></md-slider>
            </div>

            </p>

          </md-content>
        </md-tab>

        <md-tab label="Design">
          <md-content class="md-padding">

            <img src="images/about/usb-heart.svg" class="round-crop" alt="Visual arts"/>

            <p> I used to draw a lot in my childhood, so I became a professional illustrator when I was 20 years old,
              working with Flash games and animations at Humor Tadela, a pioneer brazilian humor site.</p>

            <p> Also worked as a freelancer for some advertising agencies, being coachee for Art Directors as
              Reynaldo Andreatta, Gidelson Trigueiro and others to improve my skills while turning codes and art into digital experiences.</p>

            <p> A few years latter, I had to learn more about beauty and meaning ( semiotics ) working for Itaú Bank, where I was responsible for
              approving jobs proposals from advertisement agencies and keeping them compliant to business
              requirements. </p>

            <p> At last, I started to share ( getting more than giving ) visual skills and knowledge at UNIP university as a
              teacher. </p>

            <p> You can see some of my old illustrations at: <a href="http://romulobordezani.deviantart.com/gallery/" target="_BLANK">Deviant Art</a> and at <a
              ng-href="https://www.pinterest.com/romulobordezani/own-draws/" href target="_BLANK">Pinterest</a>
            </p>

            <p>

              <p>Software and methodology experience:</p>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1" style="text-align: center;">Material Design</span>
                </div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Material" ng-init="Material=9"
                           max="10" aria-label="Material"></md-slider>
              </div>

              <div layout>
                <div fflex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Bootstrap</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Bootstrap" ng-init="Bootstrap=10"
                           max="10" aria-label="Bootstrap"></md-slider>
              </div>



              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Sketch</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="sketch" ng-init="sketch=10"
                           max="10" aria-label="Sketch"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Zeplin</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="zeplin" ng-init="zeplin=10"
                           max="10" aria-label="Zeplin"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Invision</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="invision" ng-init="invision=9"
                           max="10" aria-label="Invision"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Photoshop</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="photoshop" ng-init="photoshop=9"
                           max="10" aria-label="photoshop"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Illustrator</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Illustrator"
                           ng-init="Illustrator=9" max="10" aria-label="Illustrator"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Fireworks</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="fireworks" ng-init="fireworks=10"
                           max="10" aria-label="fireworks"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">UX Lean</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="lean" ng-init="lean=8" max="10"
                           aria-label="lean"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Design Thinking</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="designthinking" ng-init="designthinking=8" max="10"
                           aria-label="lean"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Axure</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Axure" ng-init="Axure=7" max="10"
                           aria-label="Axure"></md-slider>
              </div>

              <div layout>
                <div flex="10" flex-xs="30" layout layout-align="center center"><span class="md-body-1">Flash</span></div>
                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="flash" ng-init="flash=10"
                           max="10" aria-label="Axure"></md-slider>
              </div>

            </p>

          </md-content>
        </md-tab>

      </md-tabs>
    </md-content>
  </div>
</div>
