<div id="contact" layout="column" class="md-padding" >

    <form name="contactForm" ng-submit="sendEmail()" novalidate autocomplete="off" >

        <div layout="row" layout-wrap >

            <div layout="column" flex >

                <h5 flex class="md-title" > &nbsp;Contact</h5>

                <div layout="row" flex="20" layout-align="top end ">
                    <a href="mailto:romulobordezani@gmail.com"> &nbsp;romulobordezani@gmail.com</a>
                </div>

                <br>

                <div id="social-contacts" layout="row" flex="20" layout-align="top end ">
                    <div><a ng-href="https://www.facebook.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_facebook.svg"  /></a></div>
                    <div><a href ng-href="https://plus.google.com/104483918654914497308/posts" target="_BLANK" ><img src="images/socials/ico_google.svg"  /></a></div>
                    <div class="linkedin" ><a href ng-href="https://br.linkedin.com/pub/rômulo-bordezani/21/a3a/55a" target="_BLANK" ><img src="images/socials/ico_linkedin.svg" /></a></div>
                    <div><a href ng-href="https://twitter.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico_twitter.svg" /></a></div>
                    <div><a href ng-href="https://github.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico-github.svg"  /></a></div>
                </div>
            </div>

        </div>

    </form>
</div>
