<div id="home">
  <div id="clouds-wrapper">
    <div class="md-parallax" >
      <div class="parallax-clouds">
        <div class="scroll-down-icon"><img src="images/parallax/scroll-down.png" alt="Scroll Down"></div>
         <div class="sun" md-parallax parallax-ratio="0.8"  parallax-css="top" parallax-init-val="100"   parallax-max-val="1000"    parallax-scroller="ngview-container" ></div>
         <div class="cloud-1" md-parallax parallax-ratio="0.2"  parallax-css="background-position-y" parallax-init-val="100"    parallax-max-val="1000"    parallax-scroller="ngview-container" ></div>
         <div class="cloud-2" md-parallax parallax-ratio="0.1"  parallax-css="background-position-y" parallax-init-val="100"   parallax-max-val="1000"    parallax-scroller="ngview-container" ></div>
         <div class="cloud-3" md-parallax parallax-ratio="0.3"  parallax-css="background-position-y" parallax-init-val="200"   parallax-max-val="1000"    parallax-scroller="ngview-container" ></div>
         <div class="cloud-4" md-parallax parallax-ratio="0.1" parallax-css="background-position-y" parallax-init-val="300"   parallax-max-val="1000"    parallax-scroller="ngview-container" ></div>
        <div class="image-overlay"></div>
      </div>
    </div>
  </div>

  <div id="home-featured" >

    <div
      id="first-featured-item"
      class="post stick"
    >
      <div
        clickable-url="{{ 'work/' + LAST_YEAR }}"
        clickable
      >
        <div class="icon">
          <img src="images/home/coffee.svg"  alt="Experience Timeline Icon"/>
        </div>
        <div class="title">
          <h4 class="md-title">What I have been done </h4>
          See my experience timeline.
        </div>
      </div>
    </div>

    <div
      id="second-featured-item"
      class="post"
    >
      <div
        clickable-url="about"
        clickable
      >
        <div class="icon">
          <img class="md-avatar" src="images/home/romulobordezani.svg"  alt="About me Icon"/>
        </div>
        <div class="title">
          <h4 class="md-title" >It's me.</h4>
          A little bit about the guy<br> you are looking for.
        </div>
      </div>
    </div>

    <div
      id="third-featured-item"
      class="post stick"
    >
      <div
        onclick="document.getElementById('radioPlayer').click(); return false;"
        clickable
      >
        <div class="icon">
          <img src="images/socials/ico_soundcloud.svg"  alt="Sound CLoud Icon"/>
        </div>
        <div class="title">
          <h4 class="md-title" > Listen to my music while navigating</h4>
          Hear some blues I made directly from my Soundcloud profile.
        </div>
      </div>
    </div>

    <div
      id="fourth-featured-item"
      class="post"
    >
      <div
        clickable-target="_blank"
        clickable-url="http://romulobordezani.deviantart.com/gallery/?catpath=%2Fflash"
        clickable
      >
        <div class="icon">
          <img src="images/home/games.svg"  alt="Game Icon"/>
        </div>
        <div class="title">
          <h4 class="md-title" >Play it!</h4>
          Some of my old Flash games to entertain you.
        </div>
      </div>
      </div>
  </div>

</div>
