<div id="home"  >

    <div id="home-desktop" class="parallax" layout-fill style="min-height:0;"  >
        <div layout="row" >
            <div md-parallax class="parallax-wrapper"  parallax-ratio="0.1" parallax-css="transform:translateY"  parallax-scroller="ngview-container" >
                <div md-parallax  parallax-ratio="0.3"  parallax-css="background-position-y" parallax-init-val="0" class="parallax-img" parallax-scroller="ngview-container" >
                </div>
            </div>
        </div>

    </div>

    <div class="content-splitter" ></div>

    <div id="home-about-tabs"  layout="column"  layout-wrap >
        <md-content class="md-padding" >
            <md-tabs md-dynamic-height md-no-ink  md-border-bottom md-selected="selectedIndex" >

                <md-tab label="About">
                    <md-content class="md-padding">

                        <img ng-src="images/home/avatar.jpg" class="md-avatar" alt="Rômulo Bordezani" />

                        <p>   Sophia's dad, Aline's husband and mama's beloved one. </p>

                        <p>   Coding since 2001, sometimes developing front-end, sometimes back-end, other times designing but always giving help desk support to the whole family. </p>

                        <p>   Doesn't matter if it is an heuristic or a code review, the important to me is to keep myself more fool than full. </p>

                        <p>   I had been work to make the World Wide Web more than Search, Facebook and Porn, hoping to be part of a new internet age, where the connection could be the main provider of improvements to the society, connecting people, business and governments in real time.</p>

                        <p hide-sm> Discover more about me using these tabs above. </p>

                        <p hide-gt-sm > Discover more about me swipping over this content. </p>

                    </md-content>
                </md-tab>

                <md-tab label="Dev" >
                    <md-content class="md-padding">

                        <img ng-src="images/home/coding-img-tab.svg" class="md-avatar" alt="Development" />

                        <p>   Coding since 2002 in different languages and frameworks, I'm still in love with web development, dazzled with the opportunities that internet brought to me, as the continuous learning and the infinite challenge source.</p>

                        <p>   I'm experienced with server and frontend development focused in ubiquitousness and responsivess for high audience. </p>

                        <p>   <a href ng-href="http://www.alexa.com/siteinfo/uol.com.br" target="_BLANK" > UOL</a>  employee since 2011, I'm working at the platform team building REST full applications, integrating Spring endpoints using Angular & Bootstrap, joined in a continuous integration pipeline using Jenkins and Node.js.

                        <p>   Also experienced with design and user experience working in advertising agencies, I got so many freelances that I've lost count. </p>

                        <p>   I loved to code using Flash, I built some games and interactive contents at Humor Tadela, dynamic data motions to corporate TV systems and commercial presentations. ( RIP Flash ).</p>

                        <p>   By now, I'm studying Node.js servers and Android native development, with Java and material design, just for fun. ;)</p>

                        <p>   I'm still learning and getting evolved with open source, but, why not to follow me at <a href ng-href="https://github.com/romulobordezani" target="_BLANK" ><img src="images/socials/ico-github.svg" style="width:15px;height:15px;vertical-align: middle;" /> github</a>? </p>

                        <p>

                            <h3 class="md-title">Frameworks and languages experience:</h3>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Java Script</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="js" ng-init="js=10"  max="10" aria-label="Java Script" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Angular</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="angular" ng-init="angular=10"  max="10" aria-label="angular" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">jQuery</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="jQuery" ng-init="jQuery=10"  max="10" aria-label="jQuery" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Jasmine</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Jasmine" ng-init="Jasmine=9"  max="10" aria-label="Jasmine" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Node.js</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="node" ng-init="node=9"  max="10" aria-label="Node" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">PHP</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="php" ng-init="php=8"  max="10" aria-label="PHP" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">JAVA</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="java" ng-init="java=6"  max="10" aria-label="PHP" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Action Script 3</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Action" ng-init="Action=10"  max="10" aria-label="Action" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">MongoDB / noSQL </span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="mongo" ng-init="mongo=6"  max="10" aria-label="Mongo" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">SQL</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="SQL" ng-init="SQL=9"  max="10" aria-label="SQL" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Apache / Nginx</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Nginx" ng-init="Nginx=9"  max="10" aria-label="Nginx" ></md-slider>
                            </div>

                        </p>

                    </md-content>
                </md-tab>

                <md-tab label="Visual">
                    <md-content class="md-padding">

                        <img ng-src="images/home/usb-heart.svg" class="md-avatar" alt="Visual arts" />

                        <p>   I use to draw a lot when I was a child, so I became a professional illustrator working with Flash games and animations at Humor Tadela, a pioneer brazilian humor site.</p>

                        <p>   After all, I worked as a freelancer at some advertising agencies, being coachee for Art Directors as Reynaldo Andreatta, Gidelson Trigueiro and others, I had contact with Gestalt and the studies of form, meaning and emotion from Bauhaus school of design, Germany.</p>

                        <p>   A few years latter, I had to learn more about beauty and meaning ( semiotics ) when I worked for a brazilian bank called Itaú, approving jobs proposals from agencies and telling how to correct than as was expected, and why. </p>

                        <p>   It's hard to refuse someone else job and, the best way to do it is with good arguments, all based in a common knowledge, as Gestalt and Semiotics. </p>

                        <p>   To brief and to be briefed, makes me think that to put down in words subjective needs, is the most difficult job I ever seem. </p>

                        <p>   At last, I started to teach at UNIP university these visual studies and experiments from Bauhaus and also shared ( more getting than giving ) knowledge, ideas and visual repertory for five years. </p>

                        <p>   Illustrations samples at: <a ng-href="http://romulobordezani.deviantart.com/gallery/" href target="_BLANK" >Deviant Art</a> and at <a ng-href="https://www.pinterest.com/romulobordezani/own-draws/" href target="_BLANK" >Pinterest</a> </p>

                        <p>

                            <h3 class="md-title">Software and methodology experience:</h3>
                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">HTML5</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="html5" ng-init="html5=10"  max="10" aria-label="html5" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">CSS3</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="css3" ng-init="css3=10"  max="10" aria-label="css3" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Bootstrap</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Bootstrap" ng-init="Bootstrap=10"  max="10" aria-label="Bootstrap" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Angular Material</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Material" ng-init="Material=8"  max="10" aria-label="Material" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Photoshop</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="photoshop" ng-init="photoshop=9"  max="10" aria-label="photoshop" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Illustrator</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Illustrator" ng-init="Illustrator=9"  max="10" aria-label="Illustrator" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Fireworks</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="fireworks" ng-init="fireworks=10"  max="10" aria-label="fireworks" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">UX Lean</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="lean" ng-init="lean=6"  max="10" aria-label="lean" ></md-slider>
                            </div>

                            <div layout >
                                <div flex="10" layout layout-align="center center"><span class="md-body-1">Axure</span></div>
                                <md-slider flex class="md-warn" ng-disabled="true" md-discrete ng-model="Axure" ng-init="Axure=3"  max="10" aria-label="Axure" ></md-slider>
                            </div>

                        </p>

                    </md-content>
                </md-tab>

                <md-tab label="Music">
                    <md-content class="md-padding">
                        <h1 ></h1>

                        <img ng-src="images/home/music-tab.svg" class="md-avatar" alt="Visual arts" />

                        <p>   I got the key, even more after some Andre Christovam's classes over one year. </p>

                        <p>   Before I got married, I use to play the blues all night long, every weekend, but when my daughter was born, I started to play all night long just to make she sleep or stop to cry. </p>

                        <p>   There are two videos on Youtube from the old times with me and the Laundry Blues Band. I hope you enjoy them: <a href ng-href="https://www.youtube.com/watch?v=MFc452S3wSg" target="_BLANK" >Hoochie Coochie Man </a> | <a href ng-href="https://www.youtube.com/watch?v=TWpFlq94gUE" target="_BLANK" >Sweet Home Chicago </a> </p>

                        <p>   I'm looking for a blues band to play and make some new friends! Please <a href ng-href="#/contact" >contact-me.</a> if you think that I could be useful at your jams.</p>

                    </md-content>
                </md-tab>

                <md-tab label="Education">
                    <md-content class="md-padding">

                        <img ng-src="images/home/education-icon.svg" class="md-avatar" alt="Visual arts" />

                        <p> I was raised in a poor family and we didn't have money enough to afford a college to me, but my mother and my aunt worked at a college, called Faculdade das Américas ( Nowadays called Faculdade Flamingo ).

                        <p> I convinced the rector to gave me a scholarship in exchange of work, so I developed sites, PHP and MySQL systems to publish the students grades, the library books and a CRUD to manage internship offers.</p>

                        <p> At Itaú bank, I got another free scholarship at FIA(USP) to do a Master Business Administration degree about Human Resources Management. </p>

                        <p> After this, I came back to education environment in another college/university as a teacher, taught for five years at the Universidade Paulista's Digital Communication course, and leave the job because I needed the money of the employee founds (FGTS) to get married.</p>

                        <p> Now, I'm looking for another opportunity to teach again. Please let me know if you think that I could be useful in any kind of classes. I will enjoy it. </p>

                    </md-content>
                </md-tab>

                <md-tab label="Brands">
                    <md-content class="md-padding">

                        <div layout="row" layout-wrap >

                            <div layout="row"  class="home-brands" flex  layout-wrap  layout-padding >

                                <div layout="row" flex >
                                    <div layout="row" flex="5" hide-sm ></div>
                                    <div layout="row" flex >
                                        <h1 class="md-title" >Some brands I worked for:</h1>
                                    </div>
                                </div>

                                <div layout="row" layout-fill style="min-height:0;" >

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/uol.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/bol.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/zip.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/folha.jpg" /></div>
                                    </div>

                                </div>

                                <div layout="row" layout-fill style="min-height:0;" >

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/itau.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/sky.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/unip.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/oas.jpg" /></div>
                                    </div>

                                </div>

                                <div layout="row" layout-fill style="min-height:0;" >

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/americanas.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/claro.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/ht.jpg" /></div>
                                    </div>

                                    <div class="home-brand" flex="25" layout="column" layout-align="center center" >
                                        <div><img src="images/brands/hotec.jpg" /></div>
                                    </div>

                                </div>

                                <div layout="row" flex layout-align="center center" >
                                    <md-button ng-href="#/work/2015" class="md-raised md-accent md-hue-2" > More  </md-button>
                                </div>

                            </div>

                        </div>


                    </md-content>
                </md-tab>


            </md-tabs>
        </md-content>
    </div>

    <div class="content-splitter" ></div>

    <div id="home-featured" layout="row" layout-wrap >

        <div layout="column" layout-sm="row" layout-md="row" flex class="md-padding" layout-align="center center" >

            <div id="first-featured-item" layout="row" flex layout-fill  clickable-url="#/work/2015" clickable >
                <div layout="column" flex="40" flex-sm="25" flex-md="25" layout-align="center end" >
                    <img src="images/home/coffee.svg" />
                </div>
                <div layout="column" flex layout-margin layout-padding >
                    <h4 class="md-title" > What I have been done </h4>
                    See my experience timeline.
                </div>
            </div>

            <div layout="row" hide-sm hide-md  flex class="md-padding" ><img src="images/uis/gradient-line-horizontal.svg" style="height:1px; width: 100%; margin: 30px 0;" /></div>

            <div layout="row" id="second-featured-item" hide-sm hide-md flex layout-fill clickable-url="#/games" clickable >
                <div layout="column" flex="40" layout-align="center end"  >
                    <img src="images/home/games.svg" />
                </div>
                <div layout="column" flex layout-margin layout-padding >
                    <h4 class="md-title" >Free time? </h4>
                    Play some one of my old flash games.
                </div>
            </div>

        </div>

        <div layout="column" hide-sm hide-md flex="5" class="md-padding" ><img src="images/uis/gradient-line-vertical.svg" style="height:100%; width: 1px; margin: 30px 0;" /></div>

        <div class="content-splitter" hide-gt-md style="margin-top: 43px;" ></div>

        <div layout="column" layout-sm="row" layout-md="row" flex="50" flex-sm="100" flex-md="100" >

            <div id="third-featured-item" layout="row" flex layout-wrap layout-fill class="md-padding" clickable clickable-url="#/contact" >

                <div layout="column" layout-sm="row" layout-align="center start" layout-align-sm="center center" layout-align-md="center center" flex="20" flex-sm="100" flex-md="33" >
                    <img src="images/home/girl.jpg" class="md-avatar" />
                </div>


                <div flex="5"></div>


                <div layout="column" layout-sm="row" layout-align="center start" layout-wrap class="md-padding" flex="50" flex-sm="100"  flex-md="66" >
                    <h4 class="md-title" layout-fill >Mobile first  matters </h4>
                    <p>Now that even Google prefers mobile friendly sites, guess what your users are looking for? </p>
                    <p>Let me to help you make your customers love your site.</p>
                </div>

            </div>

        </div>

    </div>

</div>
