<div id="home"  >

    <div id="home-desktop" class="parallax" layout-fill style="min-height:0;"  >
        <div layout="row" >
            <div md-parallax class="parallax-wrapper"  parallax-ratio="0.1" parallax-css="transform:translateY"  parallax-scroller="ngview-container" >
                <div md-parallax  parallax-ratio="0.3"  parallax-css="background-position-y" parallax-init-val="0" class="parallax-img" parallax-scroller="ngview-container" >
                </div>
            </div>
        </div>
    </div>

    <div class="content-splitter" ></div>

    <div id="home-featured" layout="row" layout-wrap >

        <div layout="column" layout-sm="row" layout-md="row" flex class="md-padding" layout-align="center center" >

            <div id="first-featured-item" layout="row" flex layout-fill  clickable-url="#/work/2015" clickable >
                <div layout="column" flex="40" flex-sm="25" flex-md="25" layout-align="center end" >
                    <img src="images/home/coffee.svg" />
                </div>
                <div layout="column" flex layout-margin layout-padding >
                    <h4 class="md-title" > What I have been done </h4>
                    See my experience timeline.
                </div>
            </div>

            <div layout="row" hide-sm hide-md  flex class="md-padding" ><img src="images/uis/gradient-line-horizontal.svg" style="height:1px; width: 100%; margin: 30px 0;" /></div>

            <div layout="row" id="second-featured-item" hide-sm hide-md flex layout-fill clickable-url="#/about" clickable >
                <div layout="column" flex="40" layout-align="center end"  >
                    <img class="md-avatar" src="images/menu/about.svg" />
                </div>
                <div layout="column" flex layout-margin layout-padding >
                    <h4 class="md-title" >It's me.</h4>
                    Some tabs about the guy who did this site.
                </div>
            </div>

        </div>

        <div layout="column" hide-sm hide-md flex="5" ><img src="images/uis/gradient-line-vertical.svg" style="height:100%; width: 1px; margin: 30px 0;" /></div>

        <div class="content-splitter" hide-gt-md style="margin-top: 43px;" ></div>

        <div layout="column" layout-sm="row" layout-md="row" flex="50" flex-sm="100" flex-md="100" >

            <div id="third-featured-item" layout="row" flex layout-wrap layout-fill class="md-padding" clickable clickable-url="#/contact" >

                <div layout="column" layout-sm="row" layout-align="center start" layout-align-sm="center center" layout-align-md="center center" flex="33" flex-sm="100" flex-md="45" >
                    <img src="images/home/girl.jpg" class="md-avatar" />
                </div>

                <div flex="5"></div>

                <div layout="column" layout-sm="row" layout-align="center start" layout-wrap class="md-padding" flex="50" flex-sm="100"  flex-md="50" >
                    <h4 class="md-title" layout-fill >Mobile first  matters </h4>
                    <p>Now that even Google prefers mobile friendly sites, guess what your users are looking for? </p>
                    <p>Let me to help you make your customers love your site.</p>
                </div>

            </div>

        </div>

    </div>

</div>
