<div id="sophia" >

    <div class="home-desktop parallax" layout-fill style="min-height:0;"  >
        <div layout="row" >
            <div md-parallax class="parallax-wrapper"  parallax-ratio="0.1" parallax-css="transform:translateY"  parallax-scroller="ngview-container" >
                <div md-parallax  parallax-ratio="0.7"  parallax-css="background-position-y" parallax-init-val="-125" parallax-init-val-sm="33" class="parallax-img" parallax-scroller="ngview-container" >
                </div>
            </div>
        </div>
    </div>

    <div class="content-splitter" >
        <div layout="row" layout-align="center end" >
            <md-button class="md-fab md-accent md-hue-2" aria-label="Go to Sophia's Pics" style="margin-top: -23px;" clickable-url="http://sophia.romulobordezani.com.br" clickable  >
                <md-icon md-svg-src="images/uis/ic_goto_24px.svg"></md-icon>
            </md-button>
        </div>
    </div>

</div>
