<md-content id="work"  >

    <main  class="content-pusher-work" class="md-padding"  >




        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2010"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >



            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2009"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >


            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2008"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >



            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2007"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2006"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2005"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2004"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2003"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



        <div layout="column" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-if="year==2002"  >

            <div layout="column" layout-gt-md="row" layout-sm="column" layout-wrap layout-align-sm="center space-around" >

                <md-progress-circular style="margin: 30px"  md-mode="indeterminate"></md-progress-circular> &nbsp; Coming soon...

            </div>

        </div>



    </main >

    <md-button id="close-job" ng-if="current" class="md-fab md-warn" aria-label="Job List" ng-click="setCurrent(false)" >
        <img src="images/uis/backTolist.svg"  />
    </md-button>

    <div ng-if="!current" ng-include src="'footer.html'"></div>

</md-content>
