<section id="work"  >
  <main>
    <div layout="row" layout-wrap layout-align-sm="center space-around" >

      <md-card class="no-select no-pointer" flex >
        <img src="https://fakeimg.pl/423x227/?retina=1&text=こんにちは&font=noto" class="md-card-image" >
        <md-card-content>
          <p> Financial Hub Core, a Next.js based library to make integrations ease at Pag Seguro.</p>
        </md-card-content>
      </md-card>

      <md-card class="no-select no-pointer" flex >
        <img src="images/work/2020/last-unicorn.png" class="md-card-image" >
        <md-card-content>
          <p> The last Unicorn - Unity Game.</p>
        </md-card-content>
      </md-card>

      <div layout-margin flex hide-xs></div>

    </div>
  </main>
</section>

<timeline-tip />


