<section id="work"  >
    <main class="work-description" >

        <div layout-margin layout-padding >

            <img src="images/work/2015/1/me-at-google.jpg" class="md-avatar" style="width: 133px;" clickable clickable-url="/images/work/2015/1/me-at-google.jpg" />
            <h1 class="md-title">User Expirience and layout design of this site</h1>
            <p>I met Material Design in a Google Developers Group conference at Google Brasil, and the guy who was talking about it was so convincing that inspired me to entirely rebuild my own site using their style guide. </p>
            <p>Let's start talking about the logo, it's inspired in the <a target="_blank" href="https://www.google.com.br/search?q=Da+vinci+Forster+Codex&safe=off&biw=1680&bih=858&source=lnms&tbm=isch&sa=X&ei=r22QVaX1G8bAggSmjYOgCA&ved=0CAcQ_AUoAQ" >Da Vinci's Forster Codex</a> in a tribute to Leonardo, because he was a (de)coder and also was able to draw and paint wonderfully.</p>
            <div class="work-spacer" ></div>
            <p><h1 class="md-title">UX chalenges and requirements:</h1></p>
            <p>
                <ul>

                    <li>
                        To organize my jobs by years, evidencing these 13 years of experience working with web and digital communication.
                    </li>

                    <li>
                        To be full responsive to support cellphones and tablets.
                    </li>

                    <li>
                        To integrate css animations between pages and user actions, respecting each movement unit.
                    </li>

                    <li>
                        To use the <a href="http://paletton.com/palette.php?uid=c0c300F3u0krKw0hhHhmv-HvKrezxln" target="_blank" >collor pallete</a> in all the unit interfaces.
                    </li>

                    <li>
                        To keep everything adherent to the Material Design Style Guide, also called <a href="http://www.google.com/design/" target="_blank" >Google's Visual Frame Work</a>.
                    </li>

                    <li>
                        To be able to collect any  user feedback, to measure it and start the Lean process with the "Learn" stage, after my first "Hypothesis" launched.
                    </li>

                    <li>
                        To build up a form without aggressive error messages, if was possible, without any error messages, just using colors and restricting submit.
                    </li>



                </ul>
            </p>


            <div class="work-spacer" ></div>
            <p><h1 class="md-title">Design steps:</h1></p>
            <p>
                <ul>

                    <li>
                        I did the <a href="https://github.com/romulobordezani/portfolio/blob/master/layout/layout-romulobordezani.fw.png" target="_blank" >Layout</a> over the first paper wireframe, using Fireworks, Illustrator and Photoshop.
                    </li>

                    <li>
                        Vectorized each icon and draw that could be exported in .svg format.
                    </li>

                    <li>
                        Now I keep evolving the design and the responsiveness directly into the code.
                    </li>

                </ul>
            </p>


        </div>



        <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" >
            <img src="images/uis/backTolist.svg"  />
        </md-button>

    </main>
</section>
