<section id="work"  >
    <main class="work-description" >

        <div layout-margin layout-padding >

            <h1 class="md-title">User experience and design of this site</h1>
            <div class="work-spacer" ></div>
            <img src="images/work/2015/1/me-at-google.jpg" class="md-avatar" style="width: 96px;" clickable clickable-url="/images/work/2015/1/me-at-google.jpg" />
            <p><br>I met Material Design in a Google Developers Group conference at Google Brazil, and the guy who was talking about it was so convincing that inspired me to entirely rebuild my own site using theirs style guide. </p>
            <div class="work-spacer" ></div>
            <div class="work-spacer" ></div>
            <div class="content-splitter" ></div>


            <div class="work-spacer" ></div>
            <p><h1 class="md-title">Logo design</h1></p>
            <div class="work-spacer" ></div>
            <img ng-src="images/work/2015/1/forsters-and-logo.png" alt="Da Vinci's forsters codex and logo" style="float:left; width: 228px;  margin-right: 33px; ">
            <p>
                It's a <a target="_blank" href="https://www.google.com.br/search?q=Da+vinci+Forster+Codex&safe=off&biw=1680&bih=858&source=lnms&tbm=isch&sa=X&ei=r22QVaX1G8bAggSmjYOgCA&ved=0CAcQ_AUoAQ" >Da Vinci's Forster Codex</a> blended with a weather cock, in tribute to Leonardo because he was (de)coder and designer at the same time. This codex is considered one ancient way off cryptography, maybe the first one.
                The weather cock refers to the wind and to the cloud's services, my new passion.
            </p>
            <div class="work-spacer" ></div>
            <div class="work-spacer" ></div>
            <div class="content-splitter" ></div>



            <div class="work-spacer" ></div>
            <p><h1 class="md-title">Cloudy Footer</h1></p>
            <div class="work-spacer" ></div>
            <img ng-src="images/work/2015/1/cloudy-footer.png" alt="Cloudy Footer" style="float:left;  width: 300px; margin-right: 33px; ">
            <p>
                Inspired on cloud web services as Amazon, Open Shift and Heroku, this cloudy footer is grey as the sky of the city where I live, São Paulo.
            </p>
            <p>
                I kept the same joke about creative and logical sides of brain, I hope you could ready the logical word inverted over there.
            </p>
            <div class="work-spacer" ></div>
            <div class="work-spacer" ></div>





            <div class="content-splitter" ></div>

            <p><h1 class="md-title">UX chalenges and requirements:</h1></p>
            <p>
                <ul>

                    <li>
                        To organize my jobs by years, evidencing these 13 years of experience working with web and digital communication.
                    </li>

                    <li>
                        To be full responsive to support cellphones and tablets.
                    </li>

                    <li>
                        To integrate css animations between pages and user actions, respecting each movement unit.
                    </li>

                    <li>
                        To use the <a href="http://paletton.com/palette.php?uid=c0c300F3u0krKw0hhHhmv-HvKrezxln" target="_blank" >collor pallete</a> in all the unit interfaces.
                    </li>

                    <li>
                        To keep everything adherent to the Material Design Style Guide, also called <a href="http://www.google.com/design/" target="_blank" >Google's Visual Frame Work</a>.
                    </li>

                    <li>
                        To be able to collect any  user feedback, to measure it and start the Lean process with the "Learn" stage, after my first "Hypothesis" launched.
                    </li>

                    <li>
                        To build up a form without aggressive error messages, if was possible, without any error messages, just using colors and restricting submit.
                    </li>

                </ul>
            </p>


            <div class="work-spacer" ></div>
            <div class="content-splitter" ></div>

            <p><h1 class="md-title">Design steps:</h1></p>
            <p>
                <ul>

                    <li>
                        I did the <a href="https://github.com/romulobordezani/portfolio/blob/master/layout/layout-romulobordezani.fw.png" target="_blank" >Layout</a> over a paper made wireframe, using Fireworks.
                    </li>

                    <li>
                        Vectorized some icons and draws and exported in .svg format.
                    </li>

                    <li>
                        Now I'm still evolving the design and the responsiveness directly into the code.
                    </li>

                </ul>
            </p>


        </div>



        <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" >
            <img src="images/uis/backTolist.svg"  />
        </md-button>

    </main>
</section>
