<section id="work"  >
    <main class="work-description" >

        <div layout-margin layout-padding >

            <div layout="row" layout-wrap >

                <div layout="column" flex flex-sm="100" >

                    <h1 class="md-title" >SAC BOL: the UOL SAC's skin engine in action.</h1>

                    <p>This is the first clone of UOL's SAC using an internal application called Chameleon, that allows non-dev users to customize their clones and keep them up to date with the main distribution.  </p>
                    <p>Also the first Angular and single page app project in UOL's Chameleon, was a kind of pioneer work over a huge corporation as UOL, I'm glad to see it working.</p>


                    <div class="work-spacer" ></div>
                    <h1 class="md-title">Main challenges:</h1>

                    <ul>
                        <li>To configure out CORS using Nginx to overcome cross domain issues using the SAC REST api in other domain.</li>
                        <li>To avoid undesirable customizations in the clones, providing editable fields and controlled edition spots.</li>
                        <li>To provide a way to customize different states per pages.</li>
                        <li>Distribute app's controllers, directives, modules and providers over the same file and CDN to ingrease performance using controlled cache with md5 based renamed files.</li>
                        <li>To stipulate a consistent documentation and API to non-dev users</li>
                    </ul>

                </div>

                <div layout="column" flex="33" flex-sm="100" >
                    <responsibilities frontend="true" backend="false" database="false" ux="false" design="false"  ></responsibilities>
                </div>

            </div>

            <div class="work-spacer" ></div>
            <div layout="row" layout-wrap layout-fill layout-align="center end" >
                <device-frame size="lg" src="images/work/2015/3/lg.png" ></device-frame>
                <device-frame size="gt-lg" src="images/work/2015/3/gt-lg.png" ></device-frame>
                <device-frame size="md" src="images/work/2015/3/md.png" ></device-frame>
                <device-frame size="sm" src="images/work/2015/3/sm.png" ></device-frame>
            </div>

        </div>

        <md-button id="close-job" ng-if="current" class="md-fab md-warn" aria-label="Job List" ng-click="setCurrent(false)" >
            <img src="images/uis/backTolist.svg"  />
        </md-button>

    </main>
</section>
