<section id="work"  >
    <main class="work-description" >
        <div layout-margin layout-padding >

            <h1 class="md-title" >SAC BOL: the UOL SAC's skin engine in action.</h1>

            <p>This is the first clone of UOL's SAC using an internal application called Chameleon, that allows non-dev users to customize their clones and keep them up to date with the main distribution.  </p>
            <p>Also the first Angular and single page app project in UOL's Chameleon, was a kind of pioneer work over a huge corporation as UOL, I'm glad to see it working.</p>


            <div class="work-spacer" ></div>
            <p><h1 class="md-title">Main challenges:</h1></p>
            <p>
                <ul>
                    <li>To configure out CORS using Nginx and to overcome a lot of cross domain issues using the SAC REST api, in other domain.</li>
                    <li>To avoid undesirable customizations in the clones, providing editable fields and controlled edition spots.</li>
                    <li>To provide a way to customize different states per pages.</li>
                    <li>Distribute app's controllers, directives, modules and providers over the same file and CDN to ingrease performance using controlled cache with md5 based renamed files.</li>
                    <li>To stipulate a consistent documentation and API to non-dev users</li>
                </ul>
            </p>

            <div class="work-spacer" ></div>

            <div class="work-spacer" ></div>

            <div layout="row" layout-wrap layout-fill layout-align="center end" >

                <device-frame href="testehttps" size="lg" src="../../../images/work/2015/1/sac-bol-3.png" ></device-frame>

                <device-frame href="https://sac.uol.com.br" size="gt-lg" src="../../../images/work/2015/1/sac-bol-2.png"  ></device-frame>

                <device-frame href="testehttps" size="md" src="../../../images/work/2015/1/sac-bol-2.png"  ></device-frame>

                <device-frame href="testehttps" size="sm" src="../../../images/work/2015/1/sac-bol-1.png"  ></device-frame>

            </div>

        </div>

        <md-button id="close-job" ng-if="current" class="md-fab md-warn " aria-label="Job List" ng-click="setCurrent(false)" >
            <img src="images/uis/backTolist.svg"  />
        </md-button>

    </main>
</section>
