<section id="work"  >
    <main>
        <div layout="row"  layout-wrap layout-align-sm="center space-around" >

            <md-card  ng-click="setCurrent(1)" class="no-select" flex clickable >
                <img src="images/work/2015/index/own-portfolio-creative.png" class="md-card-image" >
                <md-card-content >
                    <p> UX, art and design concept of this site.</p>
                </md-card-content>
            </md-card>

            <md-card  ng-click="setCurrent(2)" class="no-select" flex  clickable >
                <img src="images/work/2015/index/own-portfolio.png" class="md-card-image" >
                <md-card-content>
                    <p>Front end development part of this site.</p>
                </md-card-content>
            </md-card>

            <md-card  ng-click="setCurrent(3)" class="no-select" flex  clickable  >
                <img src="images/work/2015/index/sacbol.png" class="md-card-image" >
                <md-card-content>
                    <p>Theme engine to UOL SAC supporting Angular</p>
                </md-card-content>
            </md-card>

            <md-card  ng-click="setCurrent(4)" class="no-select" flex  clickable >
                <img src="images/work/2015/index/sac.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL SAC responsiveness activation</p>
                </md-card-content>
            </md-card>

            <md-card  ng-click="setCurrent(5)" class="no-select" flex  clickable   >
                <img src="images/work/2015/index/pipeline.png" class="md-card-image" >
                <md-card-content>
                    <p>HTML 5 presentation boiler plate for CI/CDs</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex hide-xs ></div>

        </div>
    </main>
</section>
