<section id="work"  >
    <main>
        <div layout="row" md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-click="setCurrent(1)" class="no-select" flex slide-on-swipe  clickable >
                <img src="images/work/2015/index/own-portfolio-creative.png" class="md-card-image" >
                <md-card-content>
                    <p> UX, art and photography concept of this site.</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-click="setCurrent(2)" class="no-select" flex  slide-on-swipe  clickable >
                <img src="images/work/2015/index/own-portfolio.png" class="md-card-image"  >
                <md-card-content>
                    <p>Front end development part of this site.</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-click="setCurrent(3)" class="no-select" flex  slide-on-swipe  clickable  >
                <img src="images/work/2015/index/sacbol.png" class="md-card-image" >
                <md-card-content>
                    <p>Skin engine to UOL SAC supporting Angular</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-click="setCurrent(4)" class="no-select" flex  slide-on-swipe  clickable >
                <img src="images/work/2015/index/sac.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL SAC responsiveness activation</p>
                </md-card-content>
            </md-card>

            <md-card md-swipe-left="swipeLeft()" md-swipe-right="swipeRight()" ng-click="setCurrent(5)" class="no-select" flex  slide-on-swipe  clickable   >
                <img src="images/work/2015/index/pipeline.png" class="md-card-image" >
                <md-card-content>
                    <p>HTML 5 presentation boiler plate for Jenkins</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex ></div>

        </div>
    </main>
</section>
