<section id="work"  >
    <main>
        <div layout="row" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  layout-sm="column" layout-wrap layout-align-sm="center space-around" >

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(1)" class="no-select" flex >
                <img src="../../../images/work/2015/index/own-portfolio-creative.png" class="md-card-image " >
                <md-card-content>
                    <p> UX and layout design of this site.</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(2)" class="no-select" flex >
                <img src="../../../images/work/2015/index/own-portfolio.png" class="md-card-image "  >
                <md-card-content>
                    <p>Development part of this site.</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(3)" class="no-select" flex  >
                <img src="../../../images/work/2015/index/sacbol.png" class="md-card-image" >
                <md-card-content>
                    <p>UOL SAC's skin engine in action.</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(4)" class="no-select" flex >
                <img src="../../../images/work/2015/index/sac.png" class="md-card-image" >
                <md-card-content>
                    <p>The responsive version launched.</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(5)" class="no-select" flex   >
                <img src="../../../images/work/2015/index/pipeline.png" class="md-card-image" >
                <md-card-content>
                    <p>HTML 5 presentation for pipelines.</p>
                </md-card-content>
            </md-card>

            <md-card ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="setCurrent(6)" class="no-select" flex >
                <img src="../../../images/work/2015/index/laad.png" class="md-card-image" >
                <md-card-content>
                    <p>LAAD - Bootstrap Shopping Cart</p>
                </md-card-content>
            </md-card>

        </div>
    </main>
</section>
