<section id="work">
  <main class="work-description">
    <div layout-margin layout-padding>

      <div layout="row" layout-wrap>

        <div layout="column" flex flex-sm="100" flex-xs="100">
          <h1 class="md-title">Dafiti's Checkout LATAM</h1>
          <p>
            React version of Dafiti's Checkout, still in in progress. Demo not available yet due to privacy issues.
          </p>
          <h1 class="md-title">Main challenges:</h1>
          <ul>
            <li>Activate service workers trough several servers and APIs over the same domain</li>
            <li>Back-end for front-end using Express as middleware to connect to different APIs, for different countries
              and stores.
            </li>
          </ul>
        </div>

        <div layout="column" flex="33" flex-sm="100" flex-xs="100">
          <responsibilities
            frontend="true"
            custom="true"
            custom-label="'Cross Browsing tests'"
            custom-img="'images/uis/ic_test_24px.svg'"
            custom1="true"
            custom-label1="'Back-end Node.js'"
            custom-img1="'images/uis/ic_cloud_24px.svg'"
          />
        </div>
      </div>
    </div>

    <div id="actions">
      <md-button
        id="close-job"
        ng-if="current"
        class="md-fab md-warn"
        aria-label="Job List"
        ng-click="setCurrent(false)"
        clickable
      >
        <md-icon md-svg-src="images/uis/backTolist-centered.svg"></md-icon>
      </md-button>

    </div>
  </main>
</section>
