<section id="work"  >
    <main>
        <div layout="row" layout-wrap layout-align-sm="center space-around" >

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2018/index/dafiti1.png" class="md-card-image" >
                <md-card-content>
                    <p> GFG - Dafiti themed react components shared library.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2018/index/dafiti2.png" class="md-card-image" >
                <md-card-content>
                    <p> GFG new PWA product's page, made with React and Node.js Express.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2018/index/dafiti3.png" class="md-card-image" >
                <md-card-content>
                    <p> GFG International team, Integrated Checkout for whole Latin America.</p>
                </md-card-content>
            </md-card>

            <md-card  class="no-select no-pointer" flex  >
                <img src="images/work/2018/index/dafiti4.png" class="md-card-image" >
                <md-card-content>
                    <p> Linklist version to help out with environments at Dafiti.</p>
                </md-card-content>
            </md-card>

            <md-card class="no-select no-pointer" flex  >
                <img src="images/work/2018/index/dafiti5.png" class="md-card-image" >
                <md-card-content>
                    <p> Via Varejo, Perseu's project, a gulp mirroring files tool.</p>
                </md-card-content>
            </md-card>

            <div layout-margin flex hide-xs></div>

        </div>
    </main>
</section>
